<article ng-controller="cashPledgeController" class="complain container-fluid">
    <section class="row">
        <div class="cashPledgeWrapper col-lg-12">
            <div class="userTab container-fluid" ng-controller="tabCash">
                <div class="title">
                    <ul class="row">
                        <li class="col-md-2" ng-class="{cur:type=='01'}" ng-click="click('01')">押金订单</li>
                        <li class="col-md-2" ng-class="{cur:type=='02'}" ng-click="click('02')">押金设置</li>
                        <li class="col-md-2" ng-class="{cur:type=='03'}" ng-click="click('03')">押金退款审核</li>

                    </ul>
                </div>
                <!--<div class="content row" ng-switch="type">-->

                    <!--押金订单-->
                    <div class="col-md-12" ng-show="type == '01'">
                        <!--分页-->
                        <section class="row conPanelLeft">
                            <div class="userInfoWrapper  col-lg-12">
                                <!--上部-查询表单-->
                                <form action="{{api.cashPledgeListExport}}" method="POST" ng-enter="query()" name="cashPledgeListDataFormName" id="cashPledge">
                                    <section class="row">

                                        <div class="form-group col-md-2">
                                            <label class="col-md-4 control-label">时间：</label>
                                            <div class="col-md-8">
                                                <div class="dropdown">
                                                    <input type="text" name="startTime" class="form-control" ng-model="data.startTime" datetime-transform format="yyyy-MM-dd" disabled>
                                                    <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle" class="startTime" role="button" data-toggle="dropdown"></i>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="startTime">
                                                        <datetimepicker ng-model="data.startTime" data-datetimepicker-config="{dropdownSelector: '.startTime',startView:'day',minView:'day'}" on-set-time="onEnrollstartSeleted(newDate, oldDate)"></datetimepicker>
                                                    </ul>
                                                </div>
                                                <!--配合后端导出功能-->
                                                <input type="hidden" name="startTime"
                                                       value="{{data.startTime|date:'yyyy-MM-dd '}}">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="col-md-4 control-label">到 </label>
                                            <div class="col-md-8">
                                                <div class="dropdown">
                                                    <input type="text" name="endTime" class="form-control" ng-model="data.endTime" datetime-transform format="yyyy-MM-dd" disabled>
                                                    <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle" class="endTime" role="button" data-toggle="dropdown"></i>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="endTime">
                                                        <datetimepicker ng-model="data.endTime" data-datetimepicker-config="{dropdownSelector: '.endTime',startView:'day',minView:'day'}" on-set-time="onEnrollstartSeleted(newDate, oldDate)"></datetimepicker>
                                                    </ul>
                                                </div>
                                                <!--配合后端导出功能-->
                                                <input type="hidden" name="endTime"
                                                       value="{{data.endTime|date:'yyyy-MM-dd '}}">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label class="col-md-3 text-right control-label" >手机号：</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="data.mobile"  maxlength="20" name="mobile">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="col-md-3 text-right control-label" >用户猫号：</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="data.mallId"  maxlength="20" name="mallId">
                                            </div>
                                        </div>

                                    </section>
                                    <section class="row">
                                        <div class="form-group col-md-3">
                                            <label class="col-md-3 text-right control-label" >订单号：</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="data.orderNo" name="orderNo">
                                            </div>
                                        </div>
                                    </section>


                                    <!--中部-点击搜索-->
                                    <div class="button-first">
                                        <button type="button" class="btn btn-raised btn-primary" ng-click="query()">查询</button>
                                        <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置</button>
                                        <button type="submit" class="btn btn-raised btn-primary" >导出</button>

                                    </div>
                                </form>
                                <!--下部-查询列表-->
                                <section class="row conPanelLeft">
                                    <div class="gymConfigWrapper  col-lg-12">
                                        <!-- 下部分 -->
                                        <section>
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead class="table-head">
                                                    <tr class="active">
                                                        <th>订单号</th>
                                                        <th>猫号</th>

                                                        <th>手机号</th>
                                                        <th>付款时间</th>
                                                        <th>押金金额</th>
                                                        <th>支付渠道</th>


                                                    </tr>
                                                    </thead>

                                                    <tbody ng-repeat="item in cashPledgeData">
                                                    <tr>
                                                        <td>{{item.orderNo}}</td>
                                                        <td>{{item.mallId}}</td>

                                                        <td>{{item.mobile}}</td>
                                                        <td>{{tools.timeStampToDate(item.chargeTime)}}</td>
                                                        <td>{{item.chargeAmount}}</td>

                                                        <td ng-if="item.payType==1">{{payType[0].name}}</td>
                                                        <td ng-if="item.payType==2">{{payType[1].name}}</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div ng-if="!cashPledgeData.length" class="noData ng-scope">暂无数据</div>
                                            </div>
                                            <div cg-busy="gymListPromise"></div>


                                            <div class="row">
                                                <div class="col-md-9">
                                                    <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                                                        <option value="20" ng-selected="true">每页显示20条</option>
                                                        <option value="40">每页显示40条</option>
                                                        <option value="60">每页显示60条</option>
                                                        <option value="80">每页显示80条</option>
                                                        <option value="100">每页显示100条</option>
                                                    </select>
                                                    <uib-pagination ng-model="PageIndex" ng-change="pageChanged()" total-items="cashPledgeDataCount"
                                                                    max-size="maxSize" items-per-page="PageSize" class="pagination-sm"
                                                                    boundary-link-numbers="true" rotate="false" previous-text="上一页"
                                                                    next-text="下一页"></uib-pagination>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <span>跳转到</span>
                                                    <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                           onkeyup="this.value=this.value.replace(/\D/g,'')" ng-model="toPageNum"
                                                           class="variant-form-control">
                                                    <button ng-click="setPage()" class="to-page-num">确定</button>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                </section>
                            </div>


                        </section>



                    </div>
                    <!--押金设置-->
                    <div class="col-md-12" ng-show="type == '02'">
                        <!--分页-->
                        <section class="row conPanelLeft">
                            <div class="userInfoWrapper  col-lg-12">
                                <!--上部-查询表单-->
                                <form action="" method="POST" ng-enter="query()">
                                    <section class="row">


                                        <div class="form-group col-md-4">
                                            <label class="col-md-3 text-right control-label" >城市：</label>
                                            <div class="col-md-4">
                                                <div class="col-md-12">
                                                    <ui-select ng-model="data.provinceId" theme="bootstrap" on-select="getCitys($item.id)" name="provinceId">
                                                        <ui-select-match allow-clear="true" placeholder="省">{{$select.selected.name}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                                repeat="item.id as item in provinces | orderBy:'id' | filter: $select.search.id">
                                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class=" col-md-4">
                                                <div class="col-md-12">
                                                    <ui-select ng-model="data.cityId" theme="bootstrap" on-select="getCountys($item.id)" ng-disabled="data.provinceId==undefined?true:false" name="cityId">
                                                        <ui-select-match allow-clear="true" placeholder="市">{{$select.selected.name}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                                repeat="item.id as item in citys | orderBy:'id' | filter: $select.search.id">
                                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-first col-md-3 memberAdd">
                                            <button type="button" class="btn btn-raised btn-primary " ng-click="query()">查询</button>
                                            <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置</button>
                                        </div>


                                    </section>





                                </form>
                                <!--中部部-押金金额-->
                                <section class="row">

                                    <div class="form-group col-md-4">
                                        <label class="col-md-3 text-right control-label" >押金金额：</label>
                                        <div class="col-md-3">
                                            <input type="text"  ng-model="getDepositAmountData.amount" class="form-control" required maxlength="20" oninput="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>1000.00){value=value.slice(0,value.length-1)}
" onafterpaste="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>10000.00){value=value.slice(0,value.length-1)}">
                                        </div>
                                        <label class="col-md-3  text-left control-label">
                                            <a ng-click="alterDepositAmount(getDepositAmountData)"  class="pointer">修改</a>
                                        </label>
                                    </div>

                                    <!--<p>押金金额：<input type="text" ng-model="getDepositAmountData.amount" ><a ng-click="alterDepositAmount(getDepositAmountData)"  class="pointer">修改</a></p>-->

                                </section>
                                <!-- 下部分 -->
                                <section>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="table-head">
                                            <tr class="active">

                                                <th>城市</th>
                                                <th>押金开关 &nbsp;<a ng-click="cashPledgeSwitchAll(item)"  class="pointer">一键开启</a></th>

                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="item in cashPledgeData">
                                            <tr>
                                                <td>{{item.cityName}}</td>
                                                <td>
                                                    <a ng-click="cashPledgeSwitch(item)"  class="pointer" ng-if="item.depositStatus!=undefined&&item.depositStatus==0">开启</a>
                                                    <a ng-click="cashPledgeSwitch(item)"  class="pointer" ng-if="item.depositStatus!=undefined&&item.depositStatus==1">关闭</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div ng-if="!cashPledgeData.length" class="noData ng-scope">暂无数据</div>
                                    </div>
                                    <div cg-busy="userDetailDataPromise"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                                                <option value="20" ng-selected="true">每页显示20条</option>
                                                <option value="40">每页显示40条</option>
                                                <option value="60">每页显示60条</option>
                                                <option value="80">每页显示80条</option>
                                                <option value="100">每页显示100条</option>
                                            </select>
                                            <uib-pagination ng-model="PageIndex" ng-change="pageChanged()"
                                                            total-items="cashPledgeDataCount"
                                                            max-size="maxSize" items-per-page="PageSize"
                                                            class="pagination-sm"
                                                            boundary-link-numbers="true" rotate="false"
                                                            previous-text="上一页"
                                                            next-text="下一页"></uib-pagination>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <span>跳转到</span>
                                            <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                   ng-model="toPageNum"
                                                   class="variant-form-control">
                                            <button ng-click="setPage()" class="to-page-num">确定</button>
                                        </div>
                                    </div>

                                </section>
                            </div>

                        </section>

                    </div>
                    <!--押金退款审核-->
                    <div class="col-md-12" ng-show="type == '03'">
                        <!--分页-->
                        <section class="row conPanelLeft">
                            <div class="userInfoWrapper  col-lg-12">
                                <!--上部-查询表单-->
                                <form action="{{api.cashPledgeExport}}" method="POST" ng-enter="query()" name="cashPledgeExtListDataFormName" id="cashPledgeExt">
                                    <section class="row">

                                        <div class="form-group col-md-2">
                                            <label class="col-md-4 control-label">时间：</label>
                                            <div class="col-md-8">
                                                <div class="dropdown">
                                                    <input type="text" name="startTime" class="form-control" ng-model="data.startTime" datetime-transform format="yyyy-MM-dd" disabled>
                                                    <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle" class="startTime" role="button" data-toggle="dropdown"></i>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="startTime">
                                                        <datetimepicker ng-model="data.startTime" data-datetimepicker-config="{dropdownSelector: '.startTime',startView:'day',minView:'day'}" on-set-time="onEnrollstartSeleted(newDate, oldDate)"></datetimepicker>
                                                    </ul>
                                                </div>
                                                <!--配合后端导出功能-->
                                                <input type="hidden" name="startTime"
                                                       value="{{data.startTime|date:'yyyy-MM-dd '}}">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="col-md-4 control-label">到 </label>
                                            <div class="col-md-8">
                                                <div class="dropdown">
                                                    <input type="text" name="endTime" class="form-control" ng-model="data.endTime" datetime-transform format="yyyy-MM-dd" disabled>
                                                    <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle" class="endTime" role="button" data-toggle="dropdown"></i>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="endTime">
                                                        <datetimepicker ng-model="data.endTime" data-datetimepicker-config="{dropdownSelector: '.endTime',startView:'day',minView:'day'}" on-set-time="onEnrollstartSeleted(newDate, oldDate)"></datetimepicker>
                                                    </ul>
                                                </div>
                                                <!--配合后端导出功能-->
                                                <input type="hidden" name="endTime"
                                                       value="{{data.endTime|date:'yyyy-MM-dd '}}">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label class="col-md-3 text-right control-label" >手机号：</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="data.mobile"  maxlength="20" name="mobile">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="col-md-3 text-right control-label" >用户猫号：</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="data.mallId"  maxlength="20" name="mallId">
                                            </div>
                                        </div>

                                    </section>
                                    <section class="row">
                                        <div class="form-group col-md-3">
                                            <label class="col-md-3 text-right control-label" >订单号：</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="data.orderNo"  name="orderNo">
                                            </div>
                                        </div>
                                    </section>


                                    <!--中部-点击搜索-->
                                    <div class="button-first">
                                        <button type="button" class="btn btn-raised btn-primary" ng-click="query()">查询</button>
                                        <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置</button>
                                        <button type="button" class="btn btn-raised btn-info" ng-click="renovate()">刷新</button>
                                        <button type="submit" class="btn btn-raised btn-primary" >导出</button>
                                    </div>
                                </form>
                                <!--下部-查询列表-->
                                <section class="row conPanelLeft">
                                    <div class="gymConfigWrapper  col-lg-12">
                                        <!-- 下部分 -->
                                        <section>
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead class="table-head">
                                                    <tr class="active">
                                                        <th>序号</th>
                                                        <th>猫号</th>

                                                        <th>手机号</th>
                                                        <th>申请时间</th>
                                                        <th>退款金额￥</th>
                                                        <th>订单号</th>
                                                        <th>支付渠道</th>
                                                        <th>退款状态</th>
                                                        <th>审核操作</th>


                                                    </tr>
                                                    </thead>

                                                    <tbody ng-repeat="item in cashPledgeData">
                                                    <tr>
                                                        <td>{{$index+1+(((PageIndex||1)-1)*PageSize)}}</td>
                                                        <td>{{item.mallId}}</td>

                                                        <td>{{item.mobile}}</td>
                                                        <td>{{tools.timeStampToDate(item.refundRequestTime)}}</td>
                                                        <td>{{item.refundAmount}}</td>
                                                        <td>{{item.orderNo}}</td>
                                                        <td ng-if="item.payType==1">{{payType[0].name}}</td>
                                                        <td ng-if="item.payType==2">{{payType[1].name}}</td>


                                                        <td ng-if="item.refundStatus==1">{{state[0].name}}</td>
                                                        <td ng-if="item.refundStatus==2">{{state[1].name}}</td>
                                                        <td ng-if="item.refundStatus==3">{{state[2].name}}</td>
                                                        <td ng-if="item.refundStatus==4">{{state[3].name}}</td>
                                                        <td>
                                                            <a ng-if="item.refundStatus==1" ng-click="decideToRefund(item)" class="pointer" ng-disabled="checklist" confirm="确定审核通过吗？" confirm-title="审核" confirm-ok="确定" confirm-cancel="取消">审核通过</a>

                                                        </td>



                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div ng-if="!cashPledgeData.length" class="noData ng-scope">暂无数据</div>
                                            </div>
                                            <div cg-busy="gymListPromise"></div>


                                            <div class="row">
                                                <div class="col-md-9">
                                                    <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                                                        <option value="20" ng-selected="true">每页显示20条</option>
                                                        <option value="40">每页显示40条</option>
                                                        <option value="60">每页显示60条</option>
                                                        <option value="80">每页显示80条</option>
                                                        <option value="100">每页显示100条</option>
                                                    </select>
                                                    <uib-pagination ng-model="PageIndex" ng-change="pageChanged()" total-items="cashPledgeDataCount"
                                                                    max-size="maxSize" items-per-page="PageSize" class="pagination-sm"
                                                                    boundary-link-numbers="true" rotate="false" previous-text="上一页"
                                                                    next-text="下一页"></uib-pagination>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <span>跳转到</span>
                                                    <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                           onkeyup="this.value=this.value.replace(/\D/g,'')" ng-model="toPageNum"
                                                           class="variant-form-control">
                                                    <button ng-click="setPage()" class="to-page-num">确定</button>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                </section>
                            </div>

                        </section>
                    </div>
                </div>
            </div>

        </div>

    </section>


</article>
