<article ng-controller="chargeSetController" class="complain container-fluid">
    <section class="row">
        <div class="activitySetWrapper col-lg-12">
            <!--上部-新增按钮-->
            <div class="button-first">
                <button type="button" class="btn btn-raised btn-info" ng-click="addActivity()">新建</button>
            </div>
            <!--下部-查询列表-->
            <section class="row conPanelLeft">
                <div class="gymConfigWrapper  col-lg-12">
                    <!-- 下部分 -->
                    <section>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-head">
                                <tr class="active">
                                    <th>序号</th>
                                    <th>充值面额</th>
                                    <th>充值赠送金额</th>

                                    <th>文案</th>
                                    <th>操作</th>
                                </tr>
                                </thead>

                                <tbody ng-repeat="item in chargeListData">
                                <tr>
                                    <td>{{$index+1+(((PageIndex||1)-1)*PageSize)}}</td>
                                    <td>{{item.amount}}</td>

                                    <td>{{item.amountExt}}</td>
                                    <td>{{item.copywriting}}</td>

                                    <td>
                                        <!--0.修改 1.删除 -->
                                        <a ng-click="editActivity(item)" class="pointer">编辑</a>

                                        <a ng-click="deleteActivity(item)"  class="pointer" ng-disabled="checklist" confirm="确定删除吗？" confirm-title="删除" confirm-ok="确定" confirm-cancel="取消">删除</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-if="!chargeListData.length" class="noData ng-scope">暂无数据</div>
                        </div>
                        <div cg-busy="gymListPromise"></div>


                        <div class="row">
                            <div class="col-md-9">
                                <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                                    <option value="20" ng-selected="true">每页显示20条</option>
                                    <option value="40">每页显示40条</option>
                                    <option value="60">每页显示60条</option>
                                    <option value="80">每页显示80条</option>
                                    <option value="100">每页显示100条</option>
                                </select>
                                <uib-pagination ng-model="PageIndex" ng-change="pageChanged()" total-items="chargeListDataCount"
                                                max-size="maxSize" items-per-page="PageSize" class="pagination-sm"
                                                boundary-link-numbers="true" rotate="false" previous-text="上一页"
                                                next-text="下一页"></uib-pagination>
                            </div>
                            <div class="col-md-3 text-right">
                                <span>跳转到</span>
                                <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                       onkeyup="this.value=this.value.replace(/\D/g,'')" ng-model="toPageNum"
                                       class="variant-form-control">
                                <button ng-click="setPage()" class="to-page-num">确定</button>
                            </div>
                        </div>
                    </section>
                </div>

            </section>
        </div>


    </section>
</article>


<!--蒙版-弹窗1-新建-->
<script type="text/ng-template" id="chargeViewAdd.html">
    <div class="modal-header">
        <h4>新建</h4>
    </div>
    <div class="modal-body">
        <form name="gymViewAddForm">
            <section class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >面额（元）：</label>
                    <div class="col-md-9">
                        <input step="0.01" type="number" class="form-control" ng-model="data.amount" required maxlength="8" oninput="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>10000.00){value=value.slice(0,value.length-1)}
" onafterpaste="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>10000.00){value=value.slice(0,value.length-1)}">
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >参加赠送活动：</label>
                    <div class="col-md-9 memberAdd">
                        <input type="checkbox" ng-click="autoRenew()">
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >充值赠送金额（元）：</label>
                    <div class="col-md-9">
                        <input step="0.01" type="number" class="form-control" ng-model="data.amountExt"  maxlength="8" oninput="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>1000.00){value=value.slice(0,value.length-1)}
" onafterpaste="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>10000.00){value=value.slice(0,value.length-1)}" ng-disabled="data.hasPresentActive==0">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >活动文案：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="data.copywriting"  maxlength="20">
                    </div>
                </div>


            </section>
        </form>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()"
                            ng-disabled="!gymViewAddForm.$valid">保存
                    </button>
                    <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">取消</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</script>


<!--蒙版-弹窗2-编辑-->
<script type="text/ng-template" id="editCharge.html">
    <div class="modal-header">
        <h4>编辑</h4>
    </div>
    <div class="modal-body">
        <form name="gymViewAddForm">
            <section class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >面额（元）：</label>
                    <div class="col-md-9">
                        <input step="0.01" type="number" class="form-control" ng-model="data.amount" required maxlength="8" oninput="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>10000.00){value=value.slice(0,value.length-1)}
" onafterpaste="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>10000.00){value=value.slice(0,value.length-1)}">
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >参加赠送活动：</label>
                    <div class="col-md-9 memberAdd">
                        <input ng-checked="data.hasPresentActive==1" type="checkbox" ng-click="autoRenew()">
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >充值赠送金额（元）：</label>
                    <div class="col-md-9">
                        <input step="0.01" type="number" class="form-control" ng-model="data.amountExt" required maxlength="8" oninput="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>1000.00){value=value.slice(0,value.length-1)}
" onafterpaste="if(value[0]=='-'||value[0]=='.'){value=value.slice(0,0)}else if(value.split('.')[1]&&value.split('.')[1].length>2||value>10000.00){value=value.slice(0,value.length-1)}" ng-disabled="data.hasPresentActive==0">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >活动文案：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="data.copywriting"  maxlength="20">
                    </div>
                </div>


            </section>
        </form>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()"
                            ng-disabled="!gymViewAddForm.$valid">保存
                    </button>
                    <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">取消</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</script>