<article ng-controller="gymUpgradeController" class="complain container-fluid">

    <section class="row">
        <div class="treadmillAdminWrapper col-lg-12">
            <form action="" method="POST" ng-enter="query()">
                <section class="row">

                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >版本号：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.version" required maxlength="20">
                        </div>
                    </div>



                    <div class="form-group col-md-2">
                        <label class="col-md-4 control-label">时间：</label>
                        <div class="col-md-8">
                            <div class="dropdown">
                                <input type="text" name="startTime" class="form-control" ng-model="data.startTime" datetime-transform format="yyyy-MM-dd" disabled>
                                <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle" class="startTime" role="button" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="startTime">
                                    <datetimepicker ng-model="data.startTime" data-datetimepicker-config="{dropdownSelector: '.startTime',startView:'day',minView:'day'}" on-set-time="onEnrollstartSeleted(newDate, oldDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="col-md-4 control-label">到 </label>
                        <div class="col-md-8">
                            <div class="dropdown">
                                <input type="text" name="endTime" class="form-control" ng-model="data.endTime" datetime-transform format="yyyy-MM-dd" disabled>
                                <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle" class="endTime" role="button" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="endTime">
                                    <datetimepicker ng-model="data.endTime" data-datetimepicker-config="{dropdownSelector: '.endTime',startView:'day',minView:'day'}" on-set-time="onEnrollstartSeleted(newDate, oldDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label class="col-md-3 control-label">文件类型：</label>
                        <div class="col-md-8">
                            <ui-select ng-model="data.type" theme="bootstrap" on-select="getFileType($item)">
                                <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.name}}</ui-select-match>


                                <ui-select-choices
                                        repeat="item.id as item in fileType | orderBy:'id' | filter: $select.search.name">
                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>

                </section>

                <!--中部-点击搜索-->
                <div class="button-first">
                    <button type="button" class="btn btn-raised btn-info" ng-click="query()">搜索</button>
                    <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置</button>
                </div>
            </form>
        </div>


    </section>

    <div class="button-first">
        <button type="button" class="btn btn-raised btn-info" ng-click="addApk()">上传文件</button>
    </div>


    <!--下部-查询列表-->
    <section class="row conPanelLeft">
        <div class="gymConfigWrapper  col-lg-12">
            <!-- 下部分 -->
            <section>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-head">
                        <tr class="active">
                            <th>序号</th>
                            <th>软件版本</th>
                            <th>文件类型</th>

                            <th>版本说明</th>
                            <th>上传时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody ng-repeat="item in gymUpgradeListData">
                        <tr>
                            <td>{{$index+1+(((PageIndex||1)-1)*PageSize)}}</td>

                            <td>{{item.version}}</td>
                            <td ng-if="item.type==null">"--"</td>
                            <td ng-if="item.type==0">{{fileType[0].name}}</td>
                            <td ng-if="item.type==1">{{fileType[1].name}}</td>
                            <td width="700">{{item.description}}</td>
                            <td>{{tools.timeStampToDate(item.createTime)}}</td>
                            <td ng-if="item.state==0">{{progress[0].name}}</td>
                            <td ng-if="item.state==1">{{progress[1].name}}</td>

                            <td>
                                <!--0.修改 1.删除 -->
                                <a ng-click="publish(item)" class="pointer" ng-if="item.state!=undefined&&item.state==0">发布</a>

                                <a ng-click="publish(item)" class="pointer" ng-if="item.state!=undefined&&item.state==1">重新发布</a>


                                <a ng-click="editApk(item)" class="pointer" ng-if="item.state!=undefined&&item.state==0">编辑</a>

                                <a ng-click="checkApk(item.id)" class="pointer" ng-if="item.state!=undefined&&item.state==1">查看发布详情</a>

                                <a ng-click="deleteApk(item)"  class="pointer" ng-if="item.state!=undefined&&item.state==0"  ng-disabled="checklist" confirm="确定删除吗？" confirm-title="删除" confirm-ok="确定" confirm-cancel="取消">删除</a>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="!gymUpgradeListData.length" class="noData ng-scope">暂无数据</div>
                </div>
                <div cg-busy="gymListPromise"></div>


                <div class="row">
                    <div class="col-md-9">
                        <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                            <option value="20" ng-selected="true">每页显示20条</option>
                            <option value="40">每页显示40条</option>
                            <option value="60">每页显示60条</option>
                            <option value="80">每页显示80条</option>
                            <option value="100">每页显示100条</option>
                        </select>
                        <uib-pagination ng-model="PageIndex" ng-change="pageChanged()" total-items="gymUpgradeListDataCount"
                                        max-size="maxSize" items-per-page="PageSize" class="pagination-sm"
                                        boundary-link-numbers="true" rotate="false" previous-text="上一页"
                                        next-text="下一页"></uib-pagination>
                    </div>
                    <div class="col-md-3 text-right">
                        <span>跳转到</span>
                        <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                               onkeyup="this.value=this.value.replace(/\D/g,'')" ng-model="toPageNum"
                               class="variant-form-control">
                        <button ng-click="setPage()" class="to-page-num">确定</button>
                    </div>
                </div>
            </section>
        </div>

    </section>
</article>



<!--蒙版-弹窗1-上传apk-->
<script type="text/ng-template" id="apkViewAdd.html">
    <div class="modal-header">
        <h4>上传文件</h4>
    </div>
    <div class="modal-body">
        <form name="gymViewAddForm">
            <section class="row">


                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label">文件类型：</label>
                    <div class="col-md-9">
                        <ui-select ng-model="data.type" theme="bootstrap" on-select="getFileType($item)">
                            <ui-select-match allow-clear="true" placeholder="请先输入上传文件的类型">{{$select.selected.name}}</ui-select-match>


                            <ui-select-choices
                                    repeat="item.id as item in fileType | orderBy:'id' | filter: $select.search.name">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >上传文件：</label>
                    <div class="col-md-4">
                        <div class="is-fileinput">
                            <input type="file"  ng-model="userIco"  my-file-up  imglength="1"  pic-index='1'  ng-disabled="data.type==null">
                            <input type="text" class="form-control" >
                            <i ng-class="{'is-loading':isLoadingIco}" class="fa fa-spinner"></i>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        <div  ng-repeat="imgUrl in imgUrlIcoArr1">
                            <img ng-src="{{tools.imgCompress(imgUrl.appUrl,'345x175')}}" width="1" height="1">
                            <img src="app/images/apk.png" width="48" height="48">
                            <span   ng-click="delIco($index,1)">取消上传</span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >版本号：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="data.version">
                    </div>
                </div>


                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >版本说明：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="data.description">
                    </div>
                </div>





            </section>
        </form>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()"
                            ng-disabled="!gymViewAddForm.$valid">保存
                    </button>
                    <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">取消</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</script>



<!--蒙版-弹窗2-上传apk编辑-->
<script type="text/ng-template" id="editApk.html">
    <div class="modal-header">
        <h4>上传文件编辑</h4>
    </div>
    <div class="modal-body">
        <form name="gymViewAddForm">
            <section class="row">

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label">文件类型：</label>
                    <div class="col-md-9">
                        <ui-select ng-model="data.type" theme="bootstrap" on-select="getFileType($item)">
                            <ui-select-match allow-clear="true" placeholder="请先输入上传文件的类型">{{$select.selected.name}}</ui-select-match>


                            <ui-select-choices
                                    repeat="item.id as item in fileType | orderBy:'id' | filter: $select.search.name">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label  class="col-md-3 control-label text-right">上传文件：</label>
                    <div class="col-md-4">
                        <div class="is-fileinput">
                            <input type="file" ng-disabled="data.type==null" ng-model="userIco"  my-file-up  imglength="1"  pic-index='1'>
                            <input type="text" class="form-control" >
                            <i ng-class="{'is-loading':isLoadingIco}" class="fa fa-spinner"></i>
                        </div>
                    </div>

                    <div class="col-md-offset-3 col-md-9">
                        <div ng-repeat="imgUrl in imgUrlIcoArr1" >

                            <img src="app/images/apk.png" width="48" height="48" >
                            <img ng-src="{{tools.imgCompress(imgUrl.url,'345x175')}}" width="1" height="1">

                            <span   ng-click="delIco($index,1)">取消上传</span>
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >版本号：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="data.version">
                    </div>
                </div>


                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >版本说明：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="data.description">
                    </div>
                </div>





            </section>
        </form>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()"
                            ng-disabled="!gymViewAddForm.$valid">保存
                    </button>
                    <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">取消</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</script>


