<article ng-controller="incomeManageController" class="complain container-fluid">

    <section class="row">
        <div class="reportFaultWrapper col-lg-12">
            <form action="{{api.incomeManageExcel}}" method="POST" ng-enter="query()" name="incomeManageListData" id="incomeManage">

                <section class="row">

                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >场馆名称：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.gymName"  maxlength="20" name="gymName">
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >订单号：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.orderNo"  maxlength="20" name="orderNo">
                        </div>
                    </div>


                    <div class="form-group col-md-2">
                        <label class="col-md-4 control-label">订单时间：</label>
                        <div class="col-md-8">
                            <div class="dropdown">
                                <input type="text" name="startTime" class="form-control" ng-model="data.startTime" datetime-transform format="yyyy-MM-dd" disabled>
                                <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle" class="startTime" role="button" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="startTime">
                                    <datetimepicker ng-model="data.startTime" data-datetimepicker-config="{dropdownSelector: '.startTime',startView:'day',minView:'day'}" on-set-time="onEnrollstartSeleted(newDate, oldDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="col-md-4 control-label">至：</label>
                        <div class="col-md-8">
                            <div class="dropdown">
                                <input type="text" name="endTime" class="form-control" ng-model="data.endTime" datetime-transform format="yyyy-MM-dd" disabled>
                                <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle" class="endTime" role="button" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="endTime">
                                    <datetimepicker ng-model="data.endTime" data-datetimepicker-config="{dropdownSelector: '.endTime',startView:'day',minView:'day'}" on-set-time="onEnrollstartSeleted(newDate, oldDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >私教猫号：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.trainerMallId"  maxlength="20" name="trainerMallId">
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >场地方：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.gymSharingName"  maxlength="20" name="gymSharingName">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >渠道：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.channelName"  maxlength="20" name="channelName">
                        </div>
                    </div>



                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >代理：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.proxyName"  maxlength="20" name="proxyName">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >市场开拓：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.developName"  maxlength="20" name="developName">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="col-md-3 text-right control-label" >市场管理：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.marketName"  maxlength="20" name="marketName">
                        </div>
                    </div>












                </section>


                <!--中部-点击搜索-->
                <div class="button-first">
                    <button type="button" class="btn btn-raised btn-primary" ng-click="query()">查询</button>
                    <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置</button>
                    <button type="submit" class="btn btn-raised btn-primary" >导出</button>
                </div>
            </form>
        </div>


    </section>


    <!--下部-查询列表-->
    <section class="row conPanelLeft">
        <div class="gymConfigWrapper  col-lg-12">
            <!-- 下部分 -->
            <section>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-head">
                        <tr class="active">
                            <th>订单号</th>
                            <th>订单状态</th>

                            <th>订单时间</th>
                            <th>订单总价（元）</th>
                            <th>实际支付金额（元）</th>
                            <th>付款方式</th>

                            <th>场馆名称</th>
                            <th>场地方名称</th>
                            <th>场地方分成</th>
                            <th>渠道方名称</th>
                            <th>渠道方分成</th>
                            <th>代理名称</th>
                            <th>代理分成</th>
                            <th>市场开拓名称</th>
                            <th>市场开拓分成</th>
                            <th>市场管理名称</th>
                            <th>市场管理分成</th>
                            <th>私教猫号</th>
                            <th>私教分成</th>

                        </tr>
                        </thead>

                        <tbody ng-repeat="item in incomeManageListData">
                        <tr>
                            <td>{{item.orderNo}}</td>

                            <td>{{item.statusText}}</td>

                            <td>{{item.createTime}}</td>
                            <td>{{item.amount}}</td>

                            <td>{{item.actualAmount}}</td>
                            <td>{{item.payTypeText}}</td>
                            <td>{{item.gymName}}</td>
                            <td>{{item.gymName}}</td>
                            <td>{{item.channelSharingPercent}}</td>
                            <td>{{item.gymName}}</td>
                            <td>{{item.gymSharingPercent}}</td>
                            <td>{{item.proxyName}}</td>
                            <td>{{item.proxySharingPercent}}</td>
                            <td>{{item.developName}}</td>
                            <td>{{item.developSharingPercent}}</td>
                            <td>{{item.marketName}}</td>
                            <td>{{item.marketSharingPercent}}</td>
                            <td>{{item.trainerMallId}}</td>
                            <td>{{item.trainerSharingPercent}}</td>




                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="!incomeManageListData.length" class="noData ng-scope">暂无数据</div>
                </div>
                <div cg-busy="gymListPromise"></div>


                <div class="row">
                    <div class="col-md-8">
                        <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                            <option value="20" ng-selected="true">每页显示20条</option>
                            <option value="40">每页显示40条</option>
                            <option value="60">每页显示60条</option>
                            <option value="80">每页显示80条</option>
                            <option value="100">每页显示100条</option>
                        </select>
                        <uib-pagination ng-model="PageIndex" ng-change="pageChanged()" total-items="incomeManageListDataCount"
                                        max-size="maxSize" items-per-page="PageSize" class="pagination-sm"
                                        boundary-link-numbers="true" rotate="false" previous-text="上一页"
                                        next-text="下一页"></uib-pagination>
                    </div>
                    <div class="col-md-1"><span class="totalTxt">总计：{{incomeManageListDataCount==null?"--":incomeManageListDataCount }} 条</span></div>
                    <div class="col-md-3 text-right">
                        <span>跳转到</span>
                        <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                               onkeyup="this.value=this.value.replace(/\D/g,'')" ng-model="toPageNum"
                               class="variant-form-control">
                        <button ng-click="setPage()" class="to-page-num">确定</button>
                    </div>
                </div>
            </section>
        </div>

    </section>
</article>