<article ng-controller=" incomeListController" class="incomeList container-fluid">
    <!--下部-查询列表-->
    <section class="row conPanelLeft">
        <div class="gymConfigWrapper  col-lg-12">
            <!-- 下部分 -->
            <section>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-head">
                        <tr class="active">
                            <th>序号</th>
                            <th>订单号</th>
                            <th>场馆名称</th>
                            <th>订单状态</th>

                            <th>订单时间</th>
                            <th>设备类型</th>
                            <th>设备号</th>
                            <th>订单总价（元）</th>

                            <th>实际支付金额（元）</th>
                            <th>分成比例（元）</th>
                            <th>分成金额（元）</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="item in incomeListData">
                        <tr>
                            <td>{{$index+1+(((PageIndex||1)-1)*PageSize)}}</td>
                            <td>{{item.orderNo==null?"--":item.orderNo}}</td>
                            <td>{{item.gymName==null?"--":item.gymName}}</td>
                            <td>{{item.status==null?"--":item.status}}</td>

                            <td>{{item.createTime==null?"--":item.createTime}}</td>
                            <td>{{item.productName==null?"--":item.productName}}</td>
                            <td>{{item.deviceID==null?"--":item.deviceID}}</td>
                            <td>{{item.amount==null?"--":item.amount}}</td>

                            <td>{{item.actualAmount==null?"--":item.actualAmount}}</td>
                            <td>{{item.sharePercent==null?"--":item.sharePercent}}</td>
                            <td>{{item.sharingAmount==null?"--":item.sharingAmount}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="!incomeListData.length" class="noData ng-scope">暂无数据</div>
                </div>
                <div cg-busy="incomeListListPromise"></div>


                <div class="row">
                    <div class="col-md-9">
                        <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                            <option value="20" ng-selected="true">每页显示20条</option>
                            <option value="40">每页显示40条</option>
                            <option value="60">每页显示60条</option>
                            <option value="80">每页显示80条</option>
                            <option value="100">每页显示100条</option>
                        </select>
                        <uib-pagination ng-model="PageIndex" ng-change="pageChanged()" total-items="totalCount"
                                        max-size="maxSize" items-per-page="PageSize" class="pagination-sm"
                                        boundary-link-numbers="true" rotate="false" previous-text="上一页"
                                        next-text="下一页"></uib-pagination>
                    </div>
                    <div class="col-md-1"><span class="totalTxt">总计：{{totalCount==null?"--":totalCount }} 条</span>
                    </div>
                    <div class="col-md-2 text-right">
                        <span>跳转到</span>
                        <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                               onkeyup="this.value=this.value.replace(/\D/g,'')" ng-model="toPageNum"
                               class="variant-form-control">
                        <button ng-click="setPage()" class="to-page-num">确定</button>
                    </div>
                </div>
            </section>
        </div>

    </section>
</article>
