<article ng-controller="treadmillSwitchController" class="complain container-fluid">

    <section class="row">
        <div class="treadmillAdminWrapper col-lg-12">
            <form action="" method="POST" ng-enter="query()">
                <section class="row">


                    <div class="form-group col-md-4">
                        <label class="col-md-3 text-right control-label" >城市：</label>
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <ui-select ng-model="data.provinceId" theme="bootstrap" on-select="getCitys($item.id)" name="provinceId">
                                    <ui-select-match allow-clear="true" placeholder="省">{{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item.id as item in provinces | orderBy:'id' | filter: $select.search.id">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class=" col-md-4">
                            <div class="col-md-12">
                                <ui-select ng-model="data.cityId" theme="bootstrap" on-select="getCountys($item.id)" ng-disabled="data.provinceId==undefined?true:false" name="cityId">

                                    <ui-select-match allow-clear="true" placeholder="市">{{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item.id as item in citys | orderBy:'id' | filter: $select.search.id">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>


                    <div class="button-first col-md-3 memberAdd">
                        <button type="button" class="btn btn-raised btn-info " ng-click="query()">搜索</button>
                        <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置</button>
                    </div>


                </section>

            </form>
        </div>


    </section>

    <div class="button-first">
        <button type="button" class="btn btn-raised btn-info" ng-click="addSwitch()">新建开关机规则</button>
    </div>


    <!--下部-查询列表-->
    <section class="row conPanelLeft">
        <div class="gymConfigWrapper  col-lg-12">
            <!-- 下部分 -->
            <section>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-head">
                        <tr class="active">
                            <th>城市</th>
                            <th>开机时间</th>

                            <th>关机时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody ng-repeat="item in treadmillSwitchListData">
                        <tr>

                            <td>{{item.cityName}}</td>
                            <td>{{item.startTimeStr}}</td>
                            <td>{{item.endTimeStr}}</td>

                            <td ng-if="item.state==0">{{progress[0].name}}</td>
                            <td ng-if="item.state==1">{{progress[1].name}}</td>

                            <td>
                                <!--0.修改 1.删除 -->
                                <a ng-click="publish(item)" class="pointer" ng-if="item.state!=undefined&&item.state==0">应用</a>



                                <a ng-click="editSwitch(item)" class="pointer">修改</a>

                                <a ng-click="deleteSwitch(item)"  class="pointer" ng-disabled="checklist" confirm="确定删除吗？" confirm-title="删除" confirm-ok="确定" confirm-cancel="取消">删除</a>



                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="!treadmillSwitchListData.length" class="noData ng-scope">暂无数据</div>
                </div>


            </section>
        </div>

    </section>
</article>



<!--蒙版-弹窗1-新建-->
<script type="text/ng-template" id="switchViewAdd.html">
    <div class="modal-header">
        <h4>新建开关机规则</h4>
    </div>
    <div class="modal-body">
        <form name="gymViewAddForm">
            <section class="row">

                <div class="form-group col-md-12">
                    <label class="col-md-2 control-label text-right">选择城市：</label>
                    <div class="col-md-9">
                        <div class="col-md-4">
                            <ui-select ng-model="data.provinceId" theme="bootstrap" on-select="getCitys($item.id)"
                                       name="provinceId">
                                <ui-select-match allow-clear="true" placeholder="省">{{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item.id as item in provinces | orderBy:'id' | filter: $select.search.id">
                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-md-4">
                            <ui-select ng-model="data.cityId" theme="bootstrap" on-select="getCountys($item.id)"
                                       name="cityId">
                                <ui-select-match allow-clear="true" placeholder="市">{{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item.id as item in citys | orderBy:'id' | filter: $select.search.id">
                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                </div>



                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >开机时间：</label>
                    <div class="col-md-5">
                        <div class="dropdown dropdown-begin-time">
                            <input type="text" name="start_time" class="form-control" ng-model="data.beginTime" datetime-transform format="yyyy-MM-dd HH:mm:ss" readonly="readonly">
                            <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle"  role="button" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="beginTime">
                                <datetimepicker ng-model="data.beginTime" data-datetimepicker-config="{dropdownSelector: '#beginTime','minView':'minute','minuteStep':1}"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >关机时间：</label>
                    <div class="col-md-5">
                        <div class="dropdown dropdown-end-time">
                            <input type="text" name="end_time" class="form-control" ng-model="data.endTime" datetime-transform format="yyyy-MM-dd HH:mm:ss" readonly="readonly">
                            <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle"  role="button" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="endTime">
                                <datetimepicker ng-model="data.endTime" data-datetimepicker-config="{dropdownSelector: '#endTime','minView':'minute','minuteStep':1}"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>





            </section>
        </form>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()"
                            ng-disabled="!gymViewAddForm.$valid">保存
                    </button>
                    <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">取消</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</script>



<!--蒙版-弹窗2-编辑-->
<script type="text/ng-template" id="editSwitch.html">
    <div class="modal-header">
        <h4>编辑开关机规则</h4>
    </div>
    <div class="modal-body">
        <form name="gymViewAddForm">
            <section class="row">

                <div class="form-group col-md-12">
                    <label class="col-md-2 control-label text-right">选择城市：</label>
                    <div class="col-md-9">
                        <div class="col-md-4">
                            <ui-select ng-model="data.provinceId" theme="bootstrap" on-select="getCitys($item.id)"
                                       name="provinceId">
                                <ui-select-match allow-clear="true" placeholder="省">{{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item.id as item in provinces | orderBy:'id' | filter: $select.search.id">
                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-md-4">
                            <ui-select ng-model="data.cityId" theme="bootstrap"
                                       name="cityId">
                                <ui-select-match allow-clear="true" placeholder="市">{{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item.id as item in citys | orderBy:'id' | filter: $select.search.id">
                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                </div>



                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >开机时间：</label>
                    <div class="col-md-5">
                        <div class="dropdown dropdown-begin-time">
                            <input type="text" name="start_time" class="form-control" ng-model="data.beginTime" datetime-transform format="yyyy-MM-dd HH:mm:ss" readonly="readonly">
                            <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle"  role="button" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="beginTime">
                                <datetimepicker ng-model="data.beginTime" data-datetimepicker-config="{dropdownSelector: '#beginTime','minView':'minute','minuteStep':1}"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-3 text-right control-label" >关机时间：</label>
                    <div class="col-md-5">
                        <div class="dropdown dropdown-end-time">
                            <input type="text" name="end_time" class="form-control" ng-model="data.endTime" datetime-transform format="yyyy-MM-dd HH:mm:ss" readonly="readonly">
                            <i class="glyphicon glyphicon-calendar rili-icon dropdown-toggle"  role="button" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="endTime">
                                <datetimepicker ng-model="data.endTime" data-datetimepicker-config="{dropdownSelector: '#endTime','minView':'minute','minuteStep':1}"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>





            </section>
        </form>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()"
                            ng-disabled="!gymViewAddForm.$valid">保存并应用
                    </button>
                    <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">取消</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</script>