<aritcle ng-controller="updatePasswordController">

    <!--正文-->
        <div class="modal-body" style="margin-left: 319px">
            <form name="UpdatePasswordForm" role="form">
                <section class="row">
                    <div class="form-group col-mg-12">
                        <label class="col-md-3 text-right control-label">旧密码:</label>
                        <div class="col-md-3">
                            <input type="password" id="password" class="form-control" ng-model="data.password" required
                                   ng-trim="true" placeholder="原始密码">
                            <span ng-show="UpdatePasswordForm.password.maxLength.$error">密码长度不能超过20位</span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-3 text-right control-label">新密码:</label>
                        <div class="col-md-3">
                            <input type="password" id="new_password" name="new_password" class="form-control"
                                   ng-model="data.new_password" required maxlength="20"
                                   placeholder="20位密码">
                        </div>
                    </div>

                    <div class="form-group col-md-12 ">
                        <label class="col-md-3 text-right control-label">确认密码:</label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" required id="conform_password"
                                   name="conform_password"
                                   ng-model="data.conform_password"
                                   placeholder="请再次输入密码">
                        </div>
                        <span ng-show="UpdatePasswordForm.conform_password.$dirty">
                            <span style="color: red" id="verify" ng-show="data.new_password != data.conform_password">确认密码与新密码不一致</span>
                        </span>
                    </div>
                </section>
            </form>
        </div>


    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" align="center">
                    <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save('/login')"
                            ng-disabled="UpdatePasswordForm.$invalid" style="width: 105px;margin: 0;right: 137px;">确定
                    </button>

                    <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()"
                            style="width: 105px;right: 137px;left: 38px;margin-left: 0px;margin-right: 0px;margin-top: 0px">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</aritcle>