<article ng-controller="userDetailController" class="userDetail container-fluid">
    <section class="row conPanelLeft">
        <div class="userDetailWrapper  col-lg-12">
            <div class="userTab container-fluid" ng-controller="tabCon">
                <div class="title">
                    <ul class="row">
                        <li class="col-md-2" ng-class="{cur:type=='01'}" ng-click="click('01')">基本资料</li>
                        <li class="col-md-2" ng-class="{cur:type=='02'}" ng-click="click('02')">体测报告</li>
                        <li class="col-md-2" ng-class="{cur:type=='03'}" ng-click="click('03')">跑步方案</li>
                        <!--<li class="col-md-2" ng-class="{cur:type=='04'}" ng-click="click('04')">充值记录</li>-->
                        <li class="col-md-2" ng-class="{cur:type=='05'}" ng-click="click('05')">运动记录</li>
                    </ul>
                </div>
                <!--<div class="content row" ng-switch="type">-->

                    <!--基本资料-->
                <!--这里只能使用ng-show,否则，页码总是0，数据超过一页错-->
                    <div class="col-md-12" ng-show="type=='01'">
                        <!--分页-->
                        <section class="row conPanelLeft">
                            <div class="userInfoWrapper  col-lg-12">
                                <!-- 下部分 -->
                                <section>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="table-head">
                                            <tr class="active">

                                                <th>头像</th>
                                                <th>猫号</th>

                                                <th>昵称</th>

                                                <th>性别</th>

                                                <th>年龄</th>
                                                <th>身高</th>
                                                <th>体重</th>
                                                <th>个性签名</th>

                                                <th>所在地</th>
                                                <th>手机号码</th>
                                                <th>注册时间</th>
                                                <th>最后登录</th>
                                                <th>疾病</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><img ng-src="{{item.headPortraitIcon}}" style="width: 50px;"></td>
                                                <td>{{item.mallId==null?"--":item.mallId}}</td>

                                                <td>{{item.nickname==null?"--":item.nickname }}</td>


                                                <td ng-if="item.sex==0">女</td>
                                                <td ng-if="item.sex==1">男</td>

                                                <td>{{item.age==null?"--":item.age }}</td>
                                                <td>{{item.height==null?"--":item.height }}</td>
                                                <td>{{item.weight==null?"--":item.weight }}</td>
                                                <td>{{item.signature==null?"--":item.signature }}</td>

                                                <td>{{item.city==null?"--":item.city }}</td>
                                                <td>{{item.mobile==null?"--":item.mobile }}</td>
                                                <td>{{item.registTime ==null?"--":item.registTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                                <td>{{item.lastLoginTime ==null?"--":item.lastLoginTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                                <td>{{item.caseHistory ==null?"--":item.caseHistory }}</td>


                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--<div ng-if="!userDetailData.length" class="noData ng-scope">暂无数据</div>-->
                                    </div>
                                    <div cg-busy="userDetailDataPromise"></div>

                                </section>
                            </div>

                        </section>

                    </div>
                    <!--检测报告-->
                    <div class="col-md-12" ng-show="type=='02'">
                        <!--分页-->
                        <section class="row conPanelLeft">
                            <div class="userInfoWrapper  col-lg-12">
                                <!-- 下部分 -->
                                <section>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="table-head">
                                            <tr class="active">

                                                <th>序号</th>
                                                <th>场馆名称</th>
                                                <th>创建时间</th>



                                                <th>评分</th>
                                                <th>操作</th>



                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="i in item">
                                            <tr>
                                                <td>{{$index+1+(((PageIndex||1)-1)*PageSize)}}</td>
                                                <td>{{i.gymName==null?"--":i.gymName }}</td>
                                                <td>{{i.testDate==null?"--":i.testDate }}</td>

                                                <td>{{i.score==null?"--":i.score }}</td>
                                                <td><!--userBodyReport(i)括号内传递的参数必须是i;传递item的话会是整个数组对象-->
                                                    <a ng-click="userBodyReport(i.id)" class="pointer">详情</a>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                        <div ng-if="!item.length" class="noData ng-scope">暂无数据</div>
                                    </div>
                                    <div cg-busy="userDetailDataPromise"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                                                <option value="20" ng-selected="true">每页显示20条</option>
                                                <option value="40">每页显示40条</option>
                                                <option value="60">每页显示60条</option>
                                                <option value="80">每页显示80条</option>
                                                <option value="100">每页显示100条</option>
                                            </select>
                                            <uib-pagination ng-model="PageIndex" ng-change="pageChanged()"
                                                            total-items="totalCount"
                                                            max-size="maxSize" items-per-page="PageSize"
                                                            class="pagination-sm"
                                                            boundary-link-numbers="true" rotate="false"
                                                            previous-text="上一页"
                                                            next-text="下一页"></uib-pagination>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <span>跳转到</span>
                                            <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                   ng-model="toPageNum"
                                                   class="variant-form-control">
                                            <button ng-click="setPage()" class="to-page-num">确定</button>
                                        </div>
                                    </div>

                                </section>
                            </div>

                        </section>

                    </div>
                    <!--跑步方案-->
                    <div class="col-md-12" ng-show="type=='03'">
                        <!--分页-->
                        <section class="row conPanelLeft">
                            <div class="userInfoWrapper  col-lg-12">
                                <!-- 下部分 -->
                                <section>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="table-head">
                                            <tr class="active">

                                                <th>序号</th>
                                                <th>方案名称</th>

                                                <th>创建时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="item in item">
                                            <tr>
                                                <td>{{$index+1+(((PageIndex||1)-1)*PageSize)}}</td>


                                                <td>{{item.schemeName==null?"--":item.schemeName }}方案</td>
                                                <td>{{item.createTime ==null?"--":item.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                                <td>
                                                    <a ng-click="userRunProgram(item)" class="pointer">详情</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div cg-busy="userDetailDataPromise"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                                                <option value="20" ng-selected="true">每页显示20条</option>
                                                <option value="40">每页显示40条</option>
                                                <option value="60">每页显示60条</option>
                                                <option value="80">每页显示80条</option>
                                                <option value="100">每页显示100条</option>
                                            </select>
                                            <uib-pagination ng-model="PageIndex" ng-change="pageChanged()"
                                                            total-items="totalCount"
                                                            max-size="maxSize" items-per-page="PageSize"
                                                            class="pagination-sm"
                                                            boundary-link-numbers="true" rotate="false"
                                                            previous-text="上一页"
                                                            next-text="下一页"></uib-pagination>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <span>跳转到</span>
                                            <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                   ng-model="toPageNum"
                                                   class="variant-form-control">
                                            <button ng-click="setPage()" class="to-page-num">确定</button>
                                        </div>
                                    </div>

                                </section>
                            </div>

                        </section>
                    </div>
                    <!--充值记录-->
                   <!-- <div class="col-md-12" ng-show="type=='04'">
                        &lt;!&ndash;分页&ndash;&gt;
                        <section class="row conPanelLeft">
                            <div class="userInfoWrapper  col-lg-12">
                                &lt;!&ndash; 下部分 &ndash;&gt;
                                <section>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="table-head">
                                            <tr class="active">

                                                <th>序号</th>
                                                <th>充值日期</th>


                                                <th>充值后账户余额</th>
                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="item in item">
                                            <tr>
                                                <td>{{$index+1+(((PageIndex||1)-1)*PageSize)}}</td>
                                                <td>{{item.createTime ==null?"&#45;&#45;":item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>


                                                <td>{{item.accountBalance==null?"&#45;&#45;":item.accountBalance }}</td>

                                            </tr>
                                            </tbody>
                                        </table>
                                        <div ng-if="!item.length" class="noData ng-scope">暂无数据</div>
                                    </div>
                                    <div cg-busy="userDetailDataPromise"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                                                <option value="20" ng-selected="true">每页显示20条</option>
                                                <option value="40">每页显示40条</option>
                                                <option value="60">每页显示60条</option>
                                                <option value="80">每页显示80条</option>
                                                <option value="100">每页显示100条</option>
                                            </select>
                                            <uib-pagination ng-model="PageIndex" ng-change="pageChanged()"
                                                            total-items="totalCount"
                                                            max-size="maxSize" items-per-page="PageSize"
                                                            class="pagination-sm"
                                                            boundary-link-numbers="true" rotate="false"
                                                            previous-text="上一页"
                                                            next-text="下一页"></uib-pagination>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <span>跳转到</span>
                                            <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                   ng-model="toPageNum"
                                                   class="variant-form-control">
                                            <button ng-click="setPage()" class="to-page-num">确定</button>
                                        </div>
                                    </div>

                                </section>
                            </div>

                        </section>
                    </div>-->
                    <!--活动记录-->
                    <div class="col-md-12" ng-show="type=='05'">
                        <!--分页-->
                        <section class="row conPanelLeft">
                            <div class="userInfoWrapper  col-lg-12">
                                <!-- 下部分 -->
                                <section>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="table-head">
                                            <tr class="active">

                                                <th>序号</th>
                                                <th>日期</th>

                                                <th>场馆名称</th>
                                                <th>坡度（°）</th>
                                                <th>里程（km）</th>
                                                <th>卡路里(Kcal)</th>

                                                <th>训练时长（min）</th>
                                                <th>心率（次/min）</th>
                                                <th>速度（km/h）</th>
                                                <th>最大峰值速度（km/h）</th>

                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="item in item">
                                            <tr>
                                                <td>{{$index+1+(((PageIndex||1)-1)*PageSize)}}</td>
                                                <td>{{item.createTime==null?"--":item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>

                                                <td>{{item.gymName==null?"--":item.gymName }}</td>
                                                <td>{{item.slop==null?"--":item.slop }}</td>
                                                <td>{{item.sportKilometre==null?"--":item.sportKilometre }}</td>
                                                <td>{{item.energyConsumption==null?"--":item.energyConsumption}}</td>

                                                <td>{{item.sportDuration==null?"--":item.sportDuration }}</td>
                                                <td>{{item.heartRate==null?"--":item.heartRate }}</td>
                                                <td>{{item.speed==null?"--":item.speed }}</td>
                                                <td>{{item.maxSpeed==null?"--":item.maxSpeed }}</td>

                                            </tr>
                                            </tbody>
                                        </table>
                                        <div ng-if="!item.length" class="noData ng-scope">暂无数据</div>
                                    </div>
                                    <div cg-busy="userDetailDataPromise"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                                                <option value="20" ng-selected="true">每页显示20条</option>
                                                <option value="40">每页显示40条</option>
                                                <option value="60">每页显示60条</option>
                                                <option value="80">每页显示80条</option>
                                                <option value="100">每页显示100条</option>
                                            </select>
                                            <uib-pagination ng-model="PageIndex" ng-change="pageChanged()"
                                                            total-items="totalCount"
                                                            max-size="maxSize" items-per-page="PageSize"
                                                            class="pagination-sm"
                                                            boundary-link-numbers="true" rotate="false"
                                                            previous-text="上一页"
                                                            next-text="下一页"></uib-pagination>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <span>跳转到</span>
                                            <input type="text" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                   ng-model="toPageNum"
                                                   class="variant-form-control">
                                            <button ng-click="setPage()" class="to-page-num">确定</button>
                                        </div>
                                    </div>

                                </section>
                            </div>

                        </section>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </section>
</article>
<!--蒙版-弹窗2-编辑运动方案-->
<script type="text/ng-template" id="sportProgramViewEdit.html">
    <div class="modal-header">
        <h4>运动方案详情</h4>
    </div>
    <div class="modal-body">
        <form name="sportProgramViewEditForm" class="sportProgramViewEditForm">
            <section class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-1 text-right control-label">名称：</label>
                    <div class="col-md-11">
                        <input type="text" class="form-control" ng-model="data.schemeName" required maxlength="20"
                               placeholder="请输入方案名" disabled>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-1 text-right control-label">方案说明：</label>
                    <div class="col-md-11">
                        <input type="text" class="form-control" ng-model="data.description" required maxlength="50"
                               placeholder="请输入方案说明" disabled>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-md-1 text-right control-label">适合性别：</label>
                    <div class="col-md-11" style="margin-top:15px;">
                        <input type="radio" ng-model="data.sex" name="sex" value="0" required disabled>女
                        <input type="radio" ng-model="data.sex" name="sex" value="1" required disabled>男
                        <input type="radio" ng-model="data.sex" name="sex" value="2" required disabled>不限
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-1 text-right control-label">BMI范围：</label>
                    <div class="col-md-11">
                        <input type="number" ng-model="data.minBmi" required style="width: 80px;display: inline;" class="form-control "
                               style="width: 80px;display: inline;" disabled>至
                        <input type="number" ng-model="data.maxBmi" required style="width: 80px;display: inline;" class="form-control "
                               style="width: 80px;display: inline;" disabled>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-1 text-right control-label">BMI说明：</label>
                    <div class="col-md-5">
                        <table class="table table-hover">
                            <thead class="table-head">
                            <tr class="active ">
                                <th class="col-md-3">中国参考标准</th>

                                <th class="col-md-4">相关疾病发病的危险性</th>
                            </tr>
                            </thead>
                            <!-- -->
                            <tbody>
                            <tr class="">
                                <td class="form-group col-md-3">
                                    < 18.5
                                </td>
                                <td class="form-group col-md-4">
                                    低（但其他疾病危险性增加）
                                </td>
                            </tr>
                            <tr class="">
                                <td class="form-group col-md-3">
                                    18.5 ~23.9
                                </td>
                                <td class="form-group col-md-4">
                                    平均水平
                                </td>
                            </tr>
                            <tr class="">
                                <td class="form-group col-md-3">
                                    24~26.9
                                </td>
                                <td class="form-group col-md-4">
                                    增加
                                </td>
                            </tr>
                            <tr class="">
                                <td class="form-group col-md-3">
                                    27~29.9
                                </td>
                                <td class="form-group col-md-4">
                                    中度增加
                                </td>
                            </tr>
                            <tr class="">
                                <td class="form-group col-md-3">
                                    ≥30
                                </td>
                                <td class="form-group col-md-4">
                                    严重增加
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group  col-md-12">
                    <label class="col-md-1 text-right control-label">详情：</label>
                    <div class="col-md-11">
                    </div>
                    <div class="col-md-11">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-head">
                                <tr class="active row">
                                    <th class="col-md-1">序号</th>
                                    <th class="col-md-2">时间（min）</th>

                                    <th class="col-md-2">速度（km/h）</th>
                                    <th class="col-md-2">坡度（°）</th>
                                    <th class="col-md-3">操作</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="data in sportStageData">
                                <tr class="row">
                                    <td class="form-group col-md-1">
                                        <input type="text" readOnly="true" class="form-control"
                                               ng-model="data.sequence" disabled>
                                    </td>
                                    <td class="form-group col-md-2">
                                        <input type="number" ng-model="data.execTime"
                                               class="form-control" placeholder="请输入时间" required maxlength="10" disabled>

                                    </td>
                                    <td class="form-group col-md-2">
                                        <input type="number" ng-model="data.treadmillSpeed"
                                               class="form-control" placeholder="请输入速度" required ng-maxlength="10" disabled>
                                    </td>
                                    <td class="form-group col-md-2">
                                        <input type="number" ng-model="data.treadmillSlop"
                                               class="form-control" placeholder="请输入坡度" required ng-maxlength="10" disabled>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn withripple btn-raised btn-primary" type="button"
                             ng-click="close()">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</script>
