@charset "UTF-8";
/*
* @Author: 高帆
* @Date:   2017-6-30 13:26:20
 * @Last Modified by:   gaof
 * @Last Modified time: 2017-06-30 15:46:27
*/

.memberAdd{
  margin-top: 16px !important;
}

.chooseCity{
  margin-top: 26px !important;
}

/*
textarea{
  display: block;
  width: 100px;
  height: 40px;
  border: solid #ccc 3px;

}*/
.cityTag{
  display: inline-block;
  margin-right: 10px;
  margin-top: 14px;
}
