<ul class="nav nav-list side-nav panel panel-default" active-link ng-controller="SideNavController">
    <li class="side-brand">
        <a href="#/">
            <div><i class="fa fa-bicycle" aria-hidden="true"></i></div>
            <div class="side-title">物联网后台系统</div>
        </a>
    </li>
    <ul class="nav nav-list tree navHidden">
        <li ng-class="{true:'active'}['#/Saas/gymConfig'==UrlHash]"><a class=" list-tree" ng-href="#/Saas/gymConfig"><p>
            <i class="fa fa-desktop"
               aria-hidden="true"></i></p>
            <p>场馆配置</p></a></li>
        <!-- <li><a class=" list-tree" ng-href="#/Saas/devConfig"><p><i class="fa fa-life-ring"
                                                                    aria-hidden="true"></i></p>
             <p>设备配置</p></a></li>-->
        <li ng-class="{true:'active'}['#/Saas/userInfo'==UrlHash]"><a class=" list-tree" ng-href="#/Saas/userInfo"><p><i class="fa fa-user"
                                                                  aria-hidden="true"></i></p>
            <p>用户信息</p></a></li>
        <!--        <li><a class=" list-tree" ng-href="#/Saas/userBodyReport01"><p><i class="fa fa-user"
                                                                                  aria-hidden="true"></i></p>
                    <p>体测报告01（同方）</p></a></li>
                <li><a class=" list-tree" ng-href="#/Saas/userBodyReport02"><p><i class="fa fa-user"
                                                                                  aria-hidden="true"></i></p>
                    <p>体测报告02（东华原）</p></a></li>-->
        <li ng-class="{true:'active'}['#/Saas/sportProgram'==UrlHash]"><a class=" list-tree" ng-href="#/Saas/sportProgram"><p><i class="fa fa-user"
                                                                      aria-hidden="true"></i></p>
            <p>跑步方案</p></a></li>

        <li ng-class="{true:'active'}['#/Saas/gymUpgrade'==UrlHash]"><a class=" list-tree" ng-href="#/Saas/gymUpgrade"><p><i class="fa fa-book fa-fw"
                                                                         aria-hidden="true"></i>
        </p>
            <p>场馆软件升级管理</p></a></li>
    </ul>
    </li>
</ul>
